.features{
    grid-column: center-start / center-end;
    margin: 15rem 0;
    display: grid;
    // grid-template-columns: repeat(3, 1fr); // un-responsive
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 30px;
    align-items: start;
}

.feature {

    display: grid;
    grid-template-columns: min-content 1fr;
    
    row-gap: 1.5rem;
    column-gap: 2.5rem;


    &__icon {
        grid-row: 1 / span 2;
        width: 4.5rem;
        height: 4.5rem;
        fill: $color-primary;
        transform: translateY(-1rem); //move to top
    }

    &__text {
        font-size: 1.7rem;
    }
}