.card{
    perspective:150rem;
    -moz-perspective: 150rem ;
    height: 45rem;
    position: relative;
    &__side{
        position: absolute;
        top: 0;
        left: 0;
        border-radius: .3rem;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        height: 45rem;
        width: 100%;
        backface-visibility: hidden;
        transition: all .8s;
        &--front{
            background-color: $color-white;
        }
        &--back{
            transform: rotateY(180deg);
            &-1{
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark)
            }
        }
    }
    
    &:hover &__side--front{
        transform: rotateY(-180deg);
    }
    
    &:hover &__side--back{
        transform: rotateY(0);
    }
}