.story{
    width: 75%;
    margin: 0 auto;
    padding-left: 9rem;
    padding: 6rem;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    // border-radius: 3px;
    background-color: rgba($color-white, .6);
    font-size: $default-font-size;
    transform: skewX(-12deg);
    backface-visibility: hidden;
    @include responsive(tablet){
        width: 100%;
        padding-left: 7rem;
        padding: 4rem;
        transform: skewX(0);
    }
    @include responsive(phone){
        transform: skewX(0);
        // margin-right: 2rem;
    }
    &__shape{
        position: relative;
        float: left;
        height: 15rem;
        width: 15rem;
        -webkit-shape-outside:circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path:circle(50% at 50% 40%);
        clip-path:circle(50% at 50% 40%);
        transform: translateX(-3rem) skewX(12.01deg);
        backface-visibility: hidden;
        @include responsive(tablet){
            transform:translate(0) skewX(0);
            shape-outside: circle(60% at 60% 50%);
            -webkit-shape-outside: circle(60% at 60% 50%);
            -webkit-clip-path:circle(50% at 30% 50%);
            
        }
    }
    &__img{
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        transition: all .5s;
        backface-visibility: hidden;
        // overflow: hidden;
    }
    &__text{
        transform: skewX(12deg);
        backface-visibility: hidden;
        @include responsive(tablet){
            transform: skewX(0);
            // margin-right: 2rem;
            
        }
    }
    &__caption{
        text-transform: uppercase;
        // text-align: center;
        font-size: 1.7rem;
        color: $color-white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
        @include responsive(tablet){
            transform:translate(0);
            // margin-right: 2rem;
         
        }
    }
    &:hover &__caption{
        opacity: 1;
        transform: translate(-50%, -50%);
        backface-visibility: hidden;
    }

    &:hover &__img{
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
        backface-visibility: hidden;
    }
}