  /*================= global css settings =================*/

  *,
  *::after,
  *::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  html{
    /* 62.5% of 16px = 1rem=10px*/
    font-size: 62.5%;
    scroll-behavior: smooth;

  }
  
  body{
    box-sizing: border-box;
    // padding: 3rem;
  }
  