body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-dark-grey;
    backface-visibility: hidden;
}
.heading-primary{
backface-visibility: hidden;
color: $color-white;
margin-bottom: 6rem;
text-transform: uppercase;
&--main{
    display: block;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out;
    @include responsive(phone){
        font-size: 5rem;
        letter-spacing: 2rem;
    }
}
&--sub{
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation: moveInRight 1s ease-out;
    @include responsive(phone){
        font-size: 1.5rem;
        letter-spacing: .5rem;
    }
}
}

.heading-secondary{
    display: inline-block;
    font-size: 3.5rem;
    text-transform: capitalize;
    letter-spacing: .2rem;
    font-weight: 700;
    color: transparent;
    background-image: linear-gradient(to right, $color-primary-light,$color-primary-dark);
    background-clip: text;
    -webkit-background-clip: text;
    transition: all .2s;
    @include responsive(tablet){
        font-size: 3rem;
    }
    @include responsive(phone){
        font-size: 2.5rem;
    }
    &:hover{
        transform:skewY(2deg) skewX(15deg)  scale(1.1);
        text-shadow: .5rem 1.5rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary{
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: capitalize;
}

.paragraph{
    font-size: $default-font-size;
    &:not(:last-child){
        margin-bottom: 3rem;
    }
}